.card-Whisky {
  background-image: url('../../assets/whisky.png');
}

.card-Infeccion {
  background-image: url('../../assets/infectado.png');
}

.card-Vigila-tus-espaldas {
  background-image: url('../../assets/vigila-tus-espaldas.png');
}

.card-Seduccion {
  background-image: url('../../assets/seduccion.png');
}

.card-No-gracias {
  background-image: url('../../assets/no-gracias.png');
}

.card-Nada-de-barbacoas {
  background-image: url('../../assets/nada-de-barbacoas.png');
}

.card-Nada-de-barbacoas {
  background-image: url('../../assets/nada-de-barbacoas.png');
}

.card-Mas-vale-que-corras {
  background-image: url('../../assets/mas-vale-que-corras.png');
}

.card-Aqui-estoy-bien {
  background-image: url('../../assets/aqui-estoy-bien.png');
}

.card-Cambio-de-lugar {
  background-image: url('../../assets/cambio-de-lugar.png');
}

.card-La-Cosa {
  background-image: url('../../assets/thing-card.png');
}

.card-La-cosa {
  background-image: url('../../assets/thing-card.png');
}

.card-infectado {
  background-image: url('../../assets/infectado-card.png');
}

.card-Lanzallamas {
  background-image: url('../../assets/lanzallamas-card.png');
}

.card-Puerta-atrancada {
  background-image: url('../../assets/puerta-atrancada.png');
}

.card-Analisis {
  background-image: url('../../assets/analisis.png');
}

.card-Sospecha {
  background-image: url('../../assets/sospecha.png');
}

.card-Aterrador {
  background-image: url('../../assets/aterrador.png');
}

.card-Fallaste {
  background-image: url('../../assets/fallaste.png');
}

.card-Cambio-de-lugar {
  background-image: url('../../assets/cambio-lugar-card.png');
}

.card-Mas-vale-que-corras {
  background-image: url('../../assets/mas-vale-que-corras-card.png');
}

.background_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background-color: rgb(41, 129, 66);
  margin: 1px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.hand_card {
}

.hand_card.selected {
  border: 2px solid white;
}

.hand_card:hover {
  transition: .5s;
  background-color: grey;
  transform: translateY(-10px);
  cursor: pointer;
}

.canPlay {
  box-shadow: 0 0 20px 10px rgba(0, 164, 175, 0.5);
}

.cannotPlay {
  box-shadow: 0 0 20px 10px rgba(180, 43, 43, 0.5);
}

@media (max-width: 1400px) {
  .card {
    height: 135px;
    width: 100px;
  }

  .card.selected {
    border: 2px solid white;

  }
}

@media (min-width: 1400px) {
  .card {
    height: 175px;
    width: 130px;
  }

  .card.selected {
    border: 2px solid white;

  }
}
