.card{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 140px;
  width: 100px;
  margin: 1px;
  border-radius: 10px;
}

.card-La-Cosa {
  background-image: url('../../assets/thing-card.png');
}

.card-infectado {
  background-image: url('../../assets/infectado-card.png');
}

.card-Vigila-tus-espaldas {
  background-image: url('../../assets/vigila-tus-espaldas-card.png');
}

.card-Lanzallamas {
  background-image: url('../../assets/lanzallamas-card.png');
}

.card-Seducción{
  background-image: url('../../assets/seduccion-card.png');
}

.card-Cambio-de-lugar{
  background-image: url('../../assets/cambio-lugar-card.png');
}

.card {
  background-color: rgb(41, 129, 66);
  height: 190px;
  width: 130px;
  margin: 1px;
  border-radius: 10px;


  transition: transform 0.3s ease;
}

.card.selected {
  border: 2px solid white;

}

.card:hover {
  transition: .5s;
  background-color: grey;
  transform: translateY(-10px);
  cursor: pointer;
}


@media (max-width: 1400px) {
  .card {
    height: 135px;
    width: 100px;
  }

  .card.selected {
    border: 2px solid white;

  }
}