@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

.table-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "J3 J4 J5 J6 J7 J8 J9"
    "J2 JUGADOR JUGADOR JUGADOR JUGADOR JUGADOR J10"
    "J1 JUGADOR JUGADOR JUGADOR JUGADOR JUGADOR J11"
    "-- JUGADOR JUGADOR JUGADOR JUGADOR JUGADOR ---";

  background-image: url('https://img.freepik.com/free-vector/watercolour-smoke-background_91008-448.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.divHidden {
  visibility: hidden;
}

.JUGADOR {
  grid-area: JUGADOR;
  justify-content: end;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;

  font-size: 25px;
  letter-spacing: 5px;
  font-family: 'Skranji', cursive;
  color: rgb(185, 206, 0);

}

.JUGADOR p {
  text-align: center;
  margin-bottom: 10px;
}

.J1 {
  grid-area: J1;
  width: 100%;
  height: 100%;
}

.J2 {
  grid-area: J2;
  width: 100%;
  height: 100%;
}

.J3 {
  grid-area: J3;
  width: 100%;
  height: 100%;
}

.J4 {
  grid-area: J4;
  width: 100%;
  height: 100%;
}

.-- {
  grid-area: --;
}

.--- {
  grid-area: ---;
}

.J5 {
  grid-area: J5;
  width: 100%;
  height: 100%;
}

.J6 {
  grid-area: J6;
  width: 100%;
  height: 100%;
}

.J7 {
  grid-area: J7;
  width: 100%;
  height: 100%;
}

.J8 {
  grid-area: J8;
  width: 100%;
  height: 100%;
}

.J9 {
  grid-area: J9;
  width: 100%;
  height: 100%;
}

.J10 {
  grid-area: J10;
  width: 100%;
  height: 100%;
}

.J11 {
  grid-area: J11;
  width: 100%;
  height: 100%;
}