* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://img.freepik.com/free-vector/watercolour-smoke-background_91008-448.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}